.news_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px;
    color: white;
    border-radius: 10px;
  }
  
  .news_card p:first-child {
    background-color: #34495E;
    border-radius: 5px;
    padding: 6px 12px;
    width: 100px;
    font-size: 14px;
    font-style: italic;
  }
  
  .news_card p:last-child {
    font-family: El Messiri;
    font-size: 21px;
    font-weight: 700;
  }
  
  @media(max-width: 1296px) {
    .news_card {
      padding: 24px 28px;
    }
  }