.price_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    color: white;
    font-size: 18px;
  }
  
  .price_card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  
  .price_card > div p:first-child {
    height: 9px;
    width: 22px;
    border-radius: 0px 50px;
    background-color: #018ABE;
  }
  
  