.product_card {
   border: 1px solid black;
   padding: 10px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .product_card img {
   height: 100px;
   width: 100px;
   object-fit: contain;
 }