.card {
   border: 1px solid black;
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .card img {
   height: 150px;
   width: 150px;
   object-fit: contain;
 }
 
 .card p {
   text-align: center;
 }
 
 .card a {
  color: black;
}

.card div {
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
}